/*=================MODAL=======================*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal {
    width: 500px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-modal {
    width: 200px;
    opacity: 0.9;
    box-shadow: 2px 6px 10px rgb(92, 92, 92);
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* Adicionado para centralizar o conteúdo verticalmente */
}